{% extends 'records/base_generic.html' %}

{% block title %}Patient List{% endblock %}

{% block content %}
    <h2>Patients</h2>
    <ul>
        {% for patient in patients %}
        <li>
            <a href="{% url 'records:patient_detail' patient.pk %}">
                {{ patient.last_name }}, {{ patient.first_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'records:patient_create' %}">Add New Patient</a>
    {% endif %}
{% endblock %}