{% extends 'records/base_generic.html' %}

{% block title %}Appointment List{% endblock %}

{% block content %}
    <h2>Appointments</h2>
    <ul>
        {% for appointment in appointments %}
        <li>
            <a href="{% url 'records:appointment_detail' appointment.pk %}">
                {{ appointment.patient.last_name }}, {{appointment.patient.first_name}} - {{appointment.appointment_date}}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated %}
        <a href="{% url 'records:appointment_create' %}">Add New Appointment</a>
    {% endif %}
{% endblock %}