<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}Hospital Management System{% endblock %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'records/css/styles.css' %}">
</head>
<body>
    <h1 class="title">🌌StellarCare</h1>
    <h2 class="tagline">Exceptional care, light-years ahead.</h2>
    <nav>
        {% if user.is_authenticated %}
            <div class="greeting">
                <span>Hello, {{ user.email }}!</span>
                <a href="{% url 'account_logout' %}">Logout</a>
            </div>
            <br>
            <br>
            <div class="nav-links">
                <a href="{% url 'records:doctor_list' %}" class="{% if request.path == '/records/doctors/' %}active{% endif %}">Doctors</a> 
                <a href="{% url 'records:patient_list' %}" class="{% if request.path == '/records/patients/' %}active{% endif %}">Patients</a> 
                <a href="{% url 'records:appointment_list' %}" class="{% if request.path == '/records/appointments/' %}active{% endif %}">Appointments</a> 
                <a href="{% url 'records:billing_list' %}" class="{% if request.path == '/records/billing/' %}active{% endif %}">Billing</a> 
            </div>
        {% else %}
            <a href="{% url 'account_login' %}">Login</a>
            <a href="{% url 'account_signup' %}">Sign Up</a>
        {% endif %}
    </nav>
    <hr>
    <main>
        {% block content %}{% endblock %}
    </main>
</body>
</html>