{% extends 'records/base_generic.html' %}

{% block title %}Billing Detail{% endblock %}

{% block content %}
    <h2>{{ object.appointment.patient.first_name }}  {{object.appointment.patient.last_name}} with Dr. {{ object.appointment.doctor.last_name }}</h2>
    <p><strong>Appointment date:</strong> {{ object.appointment.appointment_date }}</p>
    <p><strong>Total amount:</strong> ${{ object.total_amount}}</p>
    <p><strong>Date billed:</strong> {{ object.date_billed }}</p>
    <p><strong>Due date:</strong> {{ object.due_date }}</p>
    <p><strong>Payment status:</strong> {{ object.payment_status }}</p>
    <p><strong>Notes:</strong> {{ object.notes }}</p>

    {% if object.owner == user or user.is_staff %}
        <a href="{% url 'records:billing_update' object.pk %}">Edit</a> |
        <a href="{% url 'records:billing_delete' object.pk %}">Delete</a> |
    {% endif %}
    <a href="{% url 'records:billing_list' %}">Back to List</a> 
{% endblock %}