{% extends 'base_generic.html' %}

{% block title %}Doctor List{% endblock %}

{% block content %}
    <h2>Doctors</h2>
    <ul>
        {% for doctor in doctors %}
        <li>
            <a href="{% url 'records:doctor_detail' doctor.pk %}">
                Dr. {{ doctor.first_name }} {{ doctor.last_name }}
            </a>
        </li>
        {% endfor %}
    </ul>
    {% if user.is_authenticated and user.is_staff %}
        <a href="{% url 'records:doctor_create' %}">Add New Doctor</a>
    {% endif %}
{% endblock %}